body {
font-family: 'Playfair Display SC', serif;
  font-size: 125%;
  background-color: Beige;
  text-align: center;
  margin-right: 250px; 
  margin-left: 250px;
}
h1 {
  color: Black; 
  font-family: 'Cedarville Cursive', cursive;
  font-variant: normal;
  text-align: center;
  margin-bottom: 20px;
}
h2 {
  font-family: cedarville Cursive, cursive; 
  font-size: 200%
}
h3 { 
 text-align: center;
}

a:link {
  color: black;
}
a:visited {
  color: darkgrey; 
} 
a:hover {
  color: black;
} 
#nav li li a:hover {
    background-color:#BDB76B;
    font-weight:500;
    color:grey;
    font-size:120%;
    width:200px;
}
a:active {
  color: red;
}

a, a:link, a:visited, a:hover, a:active {
background-color: darkred;
color: white;
padding: 10px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
border-style: outset;
border-width: 3px;
border-color: black;
font-variant: smallcaps;
}
ul.main-menu {
    list-style-type: inline;
  display: center;
  text-align: center;
    margin: 10px;
    padding: 10px 25px;
  font-variant: smallcaps;
}
ul.main-menu>li {
  list-style-type: inline;
    display: inline;
  text-align: center;
    color: black;
  background color: none;
  font-variant: smallcaps;
}
ul.sub-menu {
    list-style-type: inline;
  text-align: center;
  display: inline;
  padding: 10px 25px;
}
.frame {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: black;
}
p {
  text-indent: 50px; 
}

ul.main {
text-align: center; 
}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

table { margin: 0 auto; }

th { text-align: center; 
     background-color: darkred;
     color: beige;}

#parody-img {
    float: left;
    padding: 0 2%;
    height: 30em;
    width: auto;
}
